<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<th:block th:replace="layout :: head"></th:block>-->

<body>
<!--<th:block th:replace="layout :: header"></th:block>-->

<div class="container-fluid bg-primary py-5 mb-5 hero-header" th:fragment="content">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
        <h6 class="slideInDown section-title bg-white text-center text-primary px-3">Trang chủ</h6>
        <h1 class="display-3 text-white mb-3 animated slideInDown">Trương Ngô Mai Thảo</h1>
        <p class="fs-4 text-white mb-4 animated slideInDown">2090694910</p>
        <div class="position-relative w-75 mx-auto animated slideInDown">
          <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="VD: Lập trình">
          <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<th:block th:replace="layout :: footer"></th:block>-->

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}">-->
<!--&lt;!&ndash;<html xmlns:th="http://www.thymeleaf.org" th:decorate="~{layout.html :: layout}">&ndash;&gt;-->

<!--<head>-->
<!--  <title>Index</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:text="AAA" th:fragment="content"></div>-->
<!--</body>-->
<!--</html>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}">-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<th:block th:replace="layout :: head"></th:block>&ndash;&gt;-->

<!--<body>-->
<!--&lt;!&ndash;<th:block th:replace="layout :: header"></th:block>&ndash;&gt;-->

<!--<div class="container-fluid bg-primary py-5 mb-5 hero-header" th:fragment="content">-->
<!--  <div class="container py-5">-->
<!--    <div class="row justify-content-center py-5">-->
<!--      <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">-->
<!--        <h6 class="slideInDown section-title bg-white text-center text-primary px-3">Trang chủ</h6>-->
<!--        <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Shopping Experience</h1>-->
<!--        <p class="fs-4 text-white mb-4 animated slideInDown">Ở đây có bán sách!!!</p>-->
<!--        <div class="position-relative w-75 mx-auto">-->
<!--          <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="VD: Lập trình">-->
<!--          <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<th:block th:replace="layout :: footer"></th:block>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->
<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<html xmlns:th="http://www.thymeleaf.org" th:decorate="~{layout.html :: layout}">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;  <title>Index</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="AAA" th:fragment="content"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
