<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}">
<!--<head th:replace="layout :: head">-->
<!--    <title>List Book</title>-->
<!--</head>-->
<body>
<!--<block th:replace="layout :: header"></block>-->
<div class="container-xxl py-5" th:fragment="content">
    <div class="container">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <div class="">
                    <h1 class="text-white mb-4">Đăng nhập</h1>
                    <form th:action="@{/login}" method="post">
                        <fieldset>

                            <div class="row g-3">
                                <div th:if="${param.error}" class="alert alert-success">
                                    Invalid username and password
                                </div>
                                <div th:if="${param.logout}" class="alert alert-link">
                                    You have been logged out
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" required class="form-control bg-white" id="username" name="username" placeholder="username">
                                        <label for="username">username</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" required class="form-control bg-white" id="password" placeholder="password" name="password">
                                        <label for="password">password</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="checkbox" class="" id="remember-me" name="remember-me">
                                        <label for="remember-me">Remember me</label>
                                    </div>
                                </div>



                                <div class="col-12">
                                    <button class="btn btn-outline-light w-100 py-3" type="submit">Log in</button>
                                    <a th:href="@{/register}" class="text-primary text-center">Don't have account. Sign up</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<block th:replace="layout :: footer"></block>-->

</body>
</html>